<section class="container container-about">
  <div class="row">
    <div class="col-md-12"><h1>About</h1></div>
    <div class="col-sm-12 col-md-6">
      <p>
        This is a static generated site with bootstrap, which I can definitely
        use to customized the looks and feel of the website.
      </p>
    </div>
    <div class="col-sm-12 col-md-6">
      <p>
        Since I am familiar with bootstrap, this shouldn't take too much time to
        generate an actual site based on what my brother wants and need. I will
        probably need to make some adjustments to some items, but keeping it on
        one clean page would probably best since she is not that big in business
        at this time.
      </p>
    </div>
  </div>
</section>
